# <span style="color:darkblue">Módulo 1 - Introducción a la programación con Python </span>

## <span style="color:darkblue">Sesión 7-Colecciones de datos</span>

### <span style="color:darkblue">Duración estimada:	4 horas</span>

#### <span style="color:darkblue">En marco del proyecto: “EMPLEO JOVEN ES”</span>

## <span style="color:darkblue"> Tabla de contenidos:</span>
 
    1- Bienvenida
    
    2- Asistencia
    
    3- Dudas de la Clase anterior
    
    4- Control de Lectura
    
    5- Objetivo
    
    6- Introducción
    
    7- Qué es una matriz
    
    8- Comparativa entre colecciones de datos
    
    9- Listas en Python - list
    
    10- Longitud de la Lista 
    
    11- Agregar elementos a una lista
    
    12- Elementos de la lista - Tipos de datos

    13- Tuplas en Python - tuple

    14- Longitud de la tupla
    
    15- Crear tupla con un elemento	
   
    16- Conjuntos en Python - set	

    17- Obtener la longitud de un conjunto	

    18- Diccionario en Python – Dictionary	

    19- Diccionarios anidados	
    
    20- Los constructores de las colecciones
    
    21 - Retroalimentación
    
    22 - Asistencia

## <span style="color:darkred">Objetivo:</span>

Comprender como Python proporciona una manera flexible y eficiente de almacenar y manipular conjuntos de datos en diferentes formatos y estructuras. Estas colecciones de datos incluyen tipos de datos como listas, tuplas, diccionarios y conjuntos, cada uno con sus propias características y funcionalidades.

### <span style="color:darkred">Recursos</span>

•	Sesión 7 de Curso de Python

•	Computadora con Python instalado

•	Visual Studio Code instalado



### <span style="color:darkred">Introducción:</span>

Las colecciones de datos son un aspecto fundamental de la programación y la ciencia de datos en Python. Python ofrece una variedad de tipos de datos integrados, como listas, tuplas, diccionarios y conjuntos, que permiten a los desarrolladores y analistas de datos almacenar y manipular conjuntos de datos en diferentes formatos y estructuras. 

El conocimiento y la comprensión de estas colecciones de datos es esencial para cualquier persona que trabaje con Python, ya que son una herramienta fundamental para la manipulación eficiente y flexible de datos en muchas aplicaciones, desde la programación básica hasta el análisis avanzado de datos. 

En esta guía, exploraremos las diferentes colecciones de datos en Python, sus características y funcionalidades, y cómo se pueden utilizar para mejorar la eficiencia del código y la capacidad de análisis de datos.

### <span style="color:darkred">Aprendamos </span>

Python no tiene soporte integrado para arreglos, pero en su lugar se pueden usar listas de Python. Las matrices se utilizan para almacenar múltiples valores en una sola variable.

## Repaso (8 min): nombreApellidoSesion7.py

## <span style="color:darkred">¿Qué es una matriz?</span>

Una matriz es una variable especial que puede contener más de un valor a la vez.

Si tiene una lista de elementos (una lista de nombres de automóviles, por ejemplo), almacenar los automóviles en variables individuales podría tener este aspecto:
```
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
```

Sin embargo, ¿qué sucede si desea recorrer los autos y encontrar uno específico? ¿Y si no tuvieras 3 coches, sino 300?

**¡La solución es una matriz!**

Una matriz puede contener muchos valores bajo un solo nombre y puede acceder a los valores haciendo referencia a un número de índice.

**Cree una arrglo que contenga nombres de automóviles:**

```
cars = ["Ford", "Volvo", "BMW"]
```

## <span style="color:darkred">Comparativa entre colecciones de datos</span>

En Python existen diferentes tipos de colecciones y cada una de ellas poseen diferentes características y la elección depende de cual utilizar en una situación dependen bastante de ellas, a continuación, tenemos una tabla comparativa: 

<table>
  <tr>
    <th>COLECCIÓN</th> 
    <th>ORDENADA</th>
    <th>MUTABLE</th>
    <th>ÚNICA</th>
    <th>ACCESO POR ÍNDICE</th>
    <th>ACCESO POR CLAVE</th>
  </tr>
  <tr>
    <td>LISTA</td>
    <td>Sí</td>
    <td>Sí</td> 
    <td>No</td>
    <td>Sí</td>
    <td>No</td>
  </tr>
  <tr>
    <td>TUPLA</td>
    <td>Sí</td>
    <td>No</td>
    <td>No</td>
    <td>Sí</td> 
    <td>No</td>
  </tr>  
  <tr>
    <td>SET</td>
    <td>No</td>
    <td>Sí</td>
    <td>Sí</td>
    <td>No</td>
    <td>No</td>
  </tr>
  <tr>    
    <td>DICCIONARIO</td>
    <td>No</td>
    <td>Sí</td>
    <td>No</td>
    <td>No</td>
    <td>Sí</td>
  </tr>
</table>




<ul> <li> <strong>Ordenada:</strong> indica si la colección mantiene el orden de los elementos. </li> <li> <strong>Mutable:</strong> indica si la colección puede ser modificada después de creada. </li> <li> <strong>Única:</strong> indica si la colección permite elementos duplicados. </li> <li> <strong>Acceso por índice:</strong> indica si los elementos pueden ser accedidos por su posición en la colección. </li> <li> <strong>Acceso por clave:</strong> indica si los elementos pueden ser accedidos por una clave asignada a cada elemento en la colección. </li> </ul>

Es importante tener en cuenta estas diferencias al elegir la colección adecuada para una tarea determinada. Por ejemplo, si se necesita una colección de elementos ordenados y modificables, una lista sería la mejor opción. Si se necesita una colección de elementos únicos y no importa el orden, un set sería más adecuado. Si se necesita una colección de pares clave-valor, un diccionario sería la mejor opción, y si se necesita una colección de elementos ordenados, pero no modificables, una tupla sería la mejor opción.

## <span style="color:darkred">Listas en Python - `list[]` </span>

Las listas se utilizan para almacenar varios elementos en una sola variable. Las listas se crean usando corchetes:

In [1]:
thislist = ["apple", "banana", "cherry"]
print (thislist)

['apple', 'banana', 'cherry']

## <span style="color:darkred">Características principales</span>

### <span style="color:darkred">Elementos de la lista:</span>

    Los elementos de la lista están ordenados, se pueden cambiar y permiten valores duplicados. Los elementos de la lista están indexados, el primer elemento tiene índice [0], el segundo elemento tiene índice [1], etc.

### <span style="color:darkred">Ordenado: </span>
    
    Cuando decimos que las listas están ordenadas, significa que los elementos tienen un orden definido y ese orden no cambiará. Si agrega nuevos elementos a una lista, los nuevos elementos se colocarán al final de la lista.

### <span style="color:darkblue">Nota:</span>

    Hay algunos métodos de lista que cambiarán el orden, pero en general: el orden de los elementos no cambiará.

### <span style="color:darkred">Cambiable:</span>

    La lista se puede cambiar, lo que significa que podemos cambiar, agregar y eliminar elementos en una lista después de que se haya creado.
    
### <span style="color:darkred">Permitir duplicados:</span>

    Dado que las listas están indexadas, las listas pueden tener elementos con el mismo valor

### <span style="color:darkred">Longitud de la lista</span>

Para determinar cuántos elementos tiene una lista, use la función len():

Imprime el número de artículos en la lista:

In [36]:
thislist = ["apple", "banana" , "cherry"]
print(len(thislist))

3

In [42]:
vegetalesLst = ['Tomate', 'Papa', 'coliflor','zanahoria', 'cebolla'] 
print(len(vegetalesLst))
print(vegetalesLst)

5
['Tomate', 'Papa', 'coliflor', 'zanahoria', 'cebolla']

In [41]:
paises = [
    'El Salvador', 'Guatemala', 'Costa Rica',
    'Panama','Honduras','Nicaragua'
     ]
print(len(paises))
print(paises)

6
['El Salvador', 'Guatemala', 'Costa Rica', 'Panama', 'Honduras', 'Nicaragua']

In [46]:
listas = [ 3, 4, 5, 6, 7, 8, 3, 3, 3]
print(listas)
print(len(listas))

[3, 4, 5, 6, 7, 8, 3, 3, 3]
9

### <span style="color:darkred">Agregar elementos a una lista</span>

Para agregar un elemento al final de la lista, use el método `append()` :

In [55]:
thislist.append('Jocote')
thislist.append('piña')
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'orange', 'Jocote', 'Jocote', 'Jocote', 'Jocote', 'piña']

In [59]:
emptyList = [] 
print(emptyList)
emptyList.append('vacio1')
print(emptyList)
emptyList.append('ya esta vacio')
print(emptyList)

[]
['vacio1']
['vacio1', 'ya esta vacio']

### <span style="color:darkred">Elementos de la lista - Tipos de datos</span>

Los elementos de la lista pueden ser de cualquier tipo de datos, por ejemplo, tipos de datos de **cadena, int y booleanos:**

#### Ejemplos:

In [60]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
listf = [2.0, 5.5 , 6.7 ,8.8 ]

Una lista puede contener diferentes tipos de datos, por ejemplo, una lista con cadenas, enteros y valores booleanos:

In [64]:
list4 = ["abe", 34, True, 10, "male"]
list4
print(type(list4[0]))
print(type(list4[1]))
print(type(list4[2]))
print(type(list4[3]))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'int'>

In [66]:
lst5 = [
    'Juan', 350, True, 
    {'pais': 'El Salvador', 'Ciudad': 'San Salvador'},
    [1,2,3,4]
]
print(lst5)

['Juan', 350, True, {'pais': 'El Salvador', 'Ciudad': 'San Salvador'}, [1, 2, 3, 4]]

### Accesando a los elementos de una Lista con índices positivos

In [74]:
len(lst5)
print(lst5[4])
print(type(lst5[4]))
print(lst5[3])
print(type(lst5[3]))

lst5.append(23)
lst5.append('Hola mundo')
lst5.append(False)

[1, 2, 3, 4]
<class 'list'>
{'pais': 'El Salvador', 'Ciudad': 'San Salvador'}
<class 'dict'>

In [81]:
lst5
lstNew = [ lst5[0],lst5[1],lst5[2],lst5[5]]
print(lstNew)

indiceFinal = len(lstNew)-1
print(indiceFinal)
print(lstNew[3])

['Juan', 350, True, 23]
3
23

### Accesando a los elementos de una Lista con índices negativos

In [86]:
frutas = ['papaya', 'jocote', 'pina', 'melon', 'sandia']

print(frutas[-1])
print(frutas[-2])
print(frutas[-4])
print(frutas[-5])

sandia
melon
jocote
papaya

### Desempacando elementos de una lista

In [87]:
lst = ['item1','item2','item3', 'item4', 'item5']
first_item, second_item, third_item, *rest = lst
print(first_item)     # item1
print(second_item)    # item2
print(third_item)     # item3
print(rest)           # ['item4', 'item5']

item1
item2
item3
['item4', 'item5']

In [89]:
frutas = ['papaya', 'jocote', 'pina', 'melon', 'sandia']

fruta1, fruta2, *sobran = frutas

print(fruta1)
print(fruta2)
print(sobran)

papaya
jocote
['pina', 'melon', 'sandia']

In [96]:
numTest = [1,2,3,4,5,6,7,8,9,10,11,12,13]

n1, n2, *nVarios, nPenultimo, nUltimo  = numTest

print(n1)
print(n2)
print(nVarios)
print(nPenultimo)
print(nUltimo)

1
2
[3, 4, 5, 6, 7, 8, 9, 10, 11]
12
13

In [112]:
numTest2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,16]
nInicio, *ncentrales, nUltimo  = numTest2
print(nInicio)

ncentral = []
for num in ncentrales:
    ncentral.append(int(num))
print(ncentral) 

print(2*ncentral)
print(nUltimo)

1
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
16

### Slicing elementos de una lista

Indexación positiva: Podemos especificar un rango de índices positivos al especificar el inicio, final y paso. El valor de retorno será una nueva lista. (valores predeterminados para inicio = 0, final = len(lst) - 1 (último elemento), paso = 1)

In [138]:
frutas = ['papaya', 'jocote', 'pina', 'melon', 'sandia']
print(len(frutas))

todoFruta = frutas[0:5]
print(todoFruta)

pruebaFrutas = frutas[0:]
print(pruebaFrutas)

slice1 = frutas[1:3]
print(slice1)

slice2 = frutas[2:4]
print(slice2)

slice3 = frutas[1:4]
print(slice3)

print(frutas[4])

print(frutas[1:])
print(frutas[::2])

5
['papaya', 'jocote', 'pina', 'melon', 'sandia']
['papaya', 'jocote', 'pina', 'melon', 'sandia']
['jocote', 'pina']
['pina', 'melon']
['jocote', 'pina', 'melon']
sandia
['jocote', 'pina', 'melon', 'sandia']
['papaya', 'pina', 'sandia']

Indexación negativa: Podemos especificar un rango de índices negativos al indicar el inicio, fin y paso, y el valor de retorno será una nueva lista.

In [147]:
frutas = ['papaya', 'jocote', 'pina', 'melon', 'sandia']

frutas[-4]

frutas[-3:-1]

frutas[-3:]

frutas[::-1]

['sandia', 'melon', 'pina', 'jocote', 'papaya']

### Agregar elementos a las listas en cualquier posición

In [152]:
frutas = ['papaya', 'jocote','guineo', 'pina', 'melon', 'sandia']

frutas[2] = 'fresas'

frutas

['papaya', 'jocote', 'fresas', 'pina', 'melon', 'sandia']

### Buscar elementos en una lista

In [158]:
frutas = ["manzana", "banana", "naranja", "pera", "uva", "kiwi", "sandía", "mango", "melón", "fresa",
          "papaya", "piña", "cereza", "limón", "granada", "frambuesa", "mandarina", "durazno", "coco", "ciruela"]

'melon' in frutas

'papaya' in frutas

for fruta in frutas:
    if fruta == 'papaya':
        print('si hay')
    else:
        print('no hay')
        
'papaya' in frutas

no hay
no hay
no hay
no hay
no hay
no hay
no hay
no hay
no hay
no hay
si hay
no hay
no hay
no hay
no hay
no hay
no hay
no hay
no hay
no hay

True

### Insertar elementos en una lista

El metodo `insert()` , iinserta elementos en una lista en un determinado índice.

`Sintaxis:`

```list.insert(index, element)```

In [162]:
frutas = ["manzana", "banana", "naranja", "pera", "uva", "kiwi", "sandía", "mango", "melón", "fresa",
          "papaya", "piña", "cereza", "limón", "granada", "frambuesa", "mandarina", "durazno", "coco", "ciruela"]

frutas.insert(3, 'jocote')

'jocote' in frutas

frutas

['manzana',
 'banana',
 'naranja',
 'jocote',
 'pera',
 'uva',
 'kiwi',
 'sandía',
 'mango',
 'melón',
 'fresa',
 'papaya',
 'piña',
 'cereza',
 'limón',
 'granada',
 'frambuesa',
 'mandarina',
 'durazno',
 'coco',
 'ciruela']

In [171]:
frutas.insert(6,'guineo')
frutas

['manzana',
 'banana',
 'naranja',
 'jocote',
 'pera',
 'uva',
 'guineo',
 'kiwi',
 'sandía',
 'mango',
 'melón',
 'fresa',
 'papaya',
 'piña',
 'cereza',
 'limón',
 'granada',
 'frambuesa',
 'mandarina',
 'durazno',
 'coco',
 'ciruela']

### Eliminar elementos en una lista

Para eliminar un elemento en específico en una lista utilizamos el método `remove()`:

`Sintaxis:`

`list.remove(elemento)`

In [172]:
print(frutas)
frutas.remove('guineo')
print(frutas)

['manzana', 'banana', 'naranja', 'jocote', 'pera', 'uva', 'guineo', 'kiwi', 'sandía', 'mango', 'melón', 'fresa', 'papaya', 'piña', 'cereza', 'limón', 'granada', 'frambuesa', 'mandarina', 'durazno', 'coco', 'ciruela']
['manzana', 'banana', 'naranja', 'jocote', 'pera', 'uva', 'kiwi', 'sandía', 'mango', 'melón', 'fresa', 'papaya', 'piña', 'cereza', 'limón', 'granada', 'frambuesa', 'mandarina', 'durazno', 'coco', 'ciruela']

In [173]:
'guineo' in frutas

False

### Eliminar elementos en una lista utilizando el método `pop( )`

Para eliminar un elemento en un índice especifico  de una lista utilizamos el método `pop()`:

`Sintaxis:`

`list.pop(index)`

In [174]:
print(frutas)

['manzana', 'banana', 'naranja', 'jocote', 'pera', 'uva', 'kiwi', 'sandía', 'mango', 'melón', 'fresa', 'papaya', 'piña', 'cereza', 'limón', 'granada', 'frambuesa', 'mandarina', 'durazno', 'coco', 'ciruela']

In [175]:
frutas.pop()

'ciruela'

In [176]:
len(frutas)

20

In [177]:
frutas.pop(19)

'coco'

In [178]:
len(frutas)

19

### Eliminar elementos en una lista utilizando `del( )`

Para eliminar un elemento en específico, un grupo en especifico o toda la lista en una lista utilizamos el método `del()`:

`Sintaxis:`

- `del list[index]`

- `del list`

- `del list[a:b]`

In [179]:
print(frutas)

['manzana', 'banana', 'naranja', 'jocote', 'pera', 'uva', 'kiwi', 'sandía', 'mango', 'melón', 'fresa', 'papaya', 'piña', 'cereza', 'limón', 'granada', 'frambuesa', 'mandarina', 'durazno']

In [180]:
del frutas[0]
print(frutas)

['banana', 'naranja', 'jocote', 'pera', 'uva', 'kiwi', 'sandía', 'mango', 'melón', 'fresa', 'papaya', 'piña', 'cereza', 'limón', 'granada', 'frambuesa', 'mandarina', 'durazno']

In [181]:
del frutas[4:9]
print(frutas)

['banana', 'naranja', 'jocote', 'pera', 'fresa', 'papaya', 'piña', 'cereza', 'limón', 'granada', 'frambuesa', 'mandarina', 'durazno']

In [183]:
del frutas
print(frutas)

NameError: name 'frutas' is not defined

### Limpiar items de listas

El método `clear()` limpia elementos en una lista.

```
Sintaxis:
```
`list.clear()
`

In [186]:
paisesCentroamerica = ["Belice", "Costa Rica", "El Salvador", "Guatemala", "Honduras", "Nicaragua", "Panamá"]
print(paisesCentroamerica)

['Belice', 'Costa Rica', 'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panamá']

In [187]:
paisesCentroamerica.clear()

In [188]:
paisesCentroamerica

[]

### Como copiar una lista.

`Sintaxis`

`listNew = list.copy()`

In [189]:
paisesNorteamerica = ["Estados Unidos", "Canadá", "México"]

In [191]:
newPaises = paisesNorteamerica.copy()
newPaises

['Estados Unidos', 'Canadá', 'México']

### Unir listas 

utilizamo el operador de concatenacion `( + )`

In [194]:
paisesNorteamerica = ["Estados Unidos", "Canadá", "México"]
paisesCentroamerica = ["Belice", "Costa Rica", "El Salvador", "Guatemala", "Honduras", "Nicaragua", "Panamá"]

casiAmerica = paisesNorteamerica + paisesCentroamerica
casiAmerica

['Estados Unidos',
 'Canadá',
 'México',
 'Belice',
 'Costa Rica',
 'El Salvador',
 'Guatemala',
 'Honduras',
 'Nicaragua',
 'Panamá']

Utilizando el método `extend()` para unir listas

`Sintaxis:`

`list1.extend(list2)`

In [196]:
lista1 = [1, 2, 3, 4, 5, 6]
lista2 = ['a', 'b', 'c']

lista1.extend(lista2)
lista1

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

### Contando elmentos en uns lista
Utilizando el método `extend()` para unir listas

`Sintaxis:`

`list.count(item)`

In [199]:
lista1.append(1)
print(lista1)
lista1.count(1)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 1, 1]

3

### Buscar elementos en una lista

Utilizando el método 

`Sintaxis:`

`list.index(item)`

In [200]:
lista1.index(3)

2

### Reversing elemento una lista

Utilizando el método 

`Sintaxis:`

`list.reverse()`

In [220]:
frutas2 = ['banana', 'guineo', 'mango', 'limon', 'sandia']

frutas2.reverse()

print(frutas2)

['sandia', 'limon', 'mango', 'guineo', 'banana']

In [221]:
edades = [22, 19, 24, 25, 26, 24, 25, 24, 30, 32]

edades.reverse()

print(edades)

[32, 30, 24, 25, 24, 26, 25, 24, 19, 22]

### Ordenar elementos en una lista

Para ordenar listas, podemos utilizar el método `sort()` o las funciones integradas `sorted()`. 

El método `sort()` reorganiza los elementos de la lista en orden ascendente y modifica la lista original. Si se proporciona un argumento reverse igual a verdadero al método `sort()`, ordenará la lista en orden descendente.

`Sintaxis:`

`# Ascendente modificando la lista  original`

`lst.sort() `

`# Descendente modificando la lista original`

`lst.sort(reverse=True)`

In [224]:
frutas2 = [ 'mango','guineo', 'banana','limon']

frutas2.sort()
print(frutas2)

['banana', 'guineo', 'limon', 'mango']

In [225]:
edades = [22, 19, 24, 25, 26, 24, 25, 24]
edades.sort(reverse = True)
print(edades)

[26, 25, 25, 24, 24, 24, 22, 19]

In [227]:
frutas2 = [ 'mango','guineo', 'banana','limon']
print(sorted(frutas2))

['banana', 'guineo', 'limon', 'mango']

In [228]:
edades = [22, 19, 24, 25, 26, 24, 25, 24]
print(sorted(edades, reverse = True))

[26, 25, 25, 24, 24, 24, 22, 19]

### <span style="color:darkred">Tuplas en Python - tuples</span>

Las tuplas se utilizan para almacenar varios elementos en una sola variable al igual que las listas. 

Una tupla es una colección ordenada e inmutable. Las tuplas se escriben con paréntesis. 

Crear una tupla:

In [231]:
thistuple = ("apple", "banana", "cherry") 

print(thistuple)

emptytuple = ()

print(emptytuple)

('apple', 'banana', 'cherry')
()

### <span style="color:darkred">Características principales</span>

#### <span style="color:darkred">Elementos de tupla:</span>

    Los elementos de tupla están ordenados, no se pueden modificar y permiten valores duplicados. Los elementos de tupla están indexados, el primer elemento tiene índice [0], el segundo elemento tiene índice [1], etc.

#### <span style="color:darkred">Ordenado:</span> 

    Cuando decimos que las tuplas están ordenadas, significa que los elementos tienen un orden definido y ese orden no cambiará.

#### <span style="color:darkred">Inmutable:</span> 

    Las tuplas no se pueden cambiar, lo que significa que no podemos cambiar, agregar o eliminar elementos después de que se haya creado la tupla.

#### <span style="color:darkred">Permitir duplicados</span> 

    Dado que las tuplas están indexadas, pueden tener elementos con el mismo valor.
    
### <span style="color:darkred">Longitud de la tupla</span> 
Para determinar cuántos elementos tiene una tupla, use la función `len()`:

In [232]:
thistuple = ("apple", "banana", "cherry")
print (len(thistuple))

3

### <span style="color:darkred">Crear tupla con un elemento</span> 

Para crear una tupla con un solo elemento, debe agregar una coma después del elemento; de lo contrario, Python no lo reconocerá como una tupla.

In [233]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [240]:
frutasTuple = ("manzana", "banana", "naranja", "pera", "uva", "kiwi", "sandía", "mango", "melón", "fresa",
          "papaya")

print(frutasTuple)

print(frutasTuple[0])
print(frutasTuple[6])
print(frutasTuple[9])

('manzana', 'banana', 'naranja', 'pera', 'uva', 'kiwi', 'sandía', 'mango', 'melón', 'fresa', 'papaya')
manzana
sandía
fresa

In [241]:
print(frutasTuple[-1])
print(frutasTuple[-6])
print(frutasTuple[-9])

papaya
kiwi
naranja

In [242]:
# No se pueden modificar

frutasTuple[0] = 'mango'

TypeError: 'tuple' object does not support item assignment

### Slicing en la Tuplas

In [244]:
frutasTuple = ("manzana", "banana", "naranja", "pera", "uva", "kiwi", "sandía", "mango", "melón", "fresa",
          "papaya")

tpl1 = frutasTuple[0:4]
tpl1

('manzana', 'banana', 'naranja', 'pera')

In [246]:
tpl2 = frutasTuple[2:8]
tpl2

('naranja', 'pera', 'uva', 'kiwi', 'sandía', 'mango')

In [247]:
tpl3 = frutasTuple[-3:]
tpl3

('melón', 'fresa', 'papaya')

### Cambiando Tuplas a Listas

In [250]:
lst2tpl = list(tpl3)

print(type(lst2tpl))

print(lst2tpl)

<class 'list'>
['melón', 'fresa', 'papaya']

In [253]:
lst2tpl.append('coco')

tpl3 = tuple(lst2tpl)

print(tpl3)

('melón', 'fresa', 'papaya', 'coco', 'coco', 'coco')

### Búsquedas en Tuplas

In [254]:
'fresa' in tpl3

True

### Unir Tuplas `+`

In [256]:
joinTpl = tpl1+tpl3
joinTpl

('manzana',
 'banana',
 'naranja',
 'pera',
 'melón',
 'fresa',
 'papaya',
 'coco',
 'coco',
 'coco')

### Borrar Tuplas

In [258]:
del joinTpl

print(joinTpl)

NameError: name 'joinTpl' is not defined


#### <span style="color:darkred">Conjuntos en Python - `set`</span> 

Los conjuntos se utilizan para almacenar varios elementos en una sola variable. Un conjunto es una colección desordenada, inmutable* y no indexada. 

Los elementos establecidos no se pueden modificar, pero puede eliminar elementos y agregar elementos nuevos. Los conjuntos se escriben con llaves.

In [259]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

Los conjuntos no están ordenados, por lo que no puede estar seguro en qué orden aparecerán los elementos.

### <span style="color:darkred">Características principales</span>

#### <span style="color:darkred">Establecer elementos:</span>

    Los elementos establecidos no están ordenados, no se pueden modificar y no permiten valores duplicados.

#### <span style="color:darkred">Desordenado:</span> 

    desordenado significa que los elementos de un conjunto no tienen un orden definido.
    
    Los elementos establecidos pueden aparecer en un orden diferente cada vez que los usa y no se puede hacer referencia a ellos por índice o clave.


#### <span style="color:darkred">Inmutable:</span> 

    Los elementos del conjunto no se pueden cambiar, lo que significa que no podemos cambiar los elementos después de que se haya creado el conjunto. 
    
    Una vez que se crea un conjunto, no puede cambiar sus elementos, pero puede eliminar elementos y agregar elementos nuevos.

#### <span style="color:darkred">No se permiten duplicados</span> 

    los conjuntos no pueden tener dos artículos con el mismo valor.
    
#### <span style="color:darkorange">Nota</span>  

Los valores `True` y `1` se consideran el mismo valor en conjuntos y se tratan como duplicados.

 
### <span style="color:darkred">Obtener la longitud de un conjunto</span> 

Para determinar cuántos elementos tiene un set, use la función `len()`:

In [260]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [262]:
set1 = {"apple", "banana", "cherry", 'apple' }

set1

{'apple', 'banana', 'cherry'}

In [264]:
set2 = {1,2,3,4 ,3,4,3,4,3,4,3,4,1}

set2

{1, 2, 3, 4}

In [265]:
len(set2)

4

In [268]:
set1 = {"apple", "banana", "cherry", 'apple' }

'apple' in set1

print(set1)

{'cherry', 'apple', 'banana'}

In [267]:
for fruit in set1:
    print(fruit)

cherry
apple
banana

### Agregar elemento en los 'set'

Usando el metodo  `set.add(item)` se agrega un elemento, si desea agregar varios utilice `set.update(item1, item2, item3...)`

In [279]:
set1.add('piña')
set1

{'apple', 'banana', 'cherry', 'piña'}

In [281]:
set2 = {'naranja', 'melocoton', 'jocote' }
set1.update(set2)
print(set1)

{'piña', 'jocote', 'naranja', 'banana', 'melocoton', 'apple', 'cherry'}

In [282]:
set1

{'apple', 'banana', 'cherry', 'jocote', 'melocoton', 'naranja', 'piña'}

### Eliminar elementos en un set 

utilizan `set.remove()`, `set.pop()` elimina aleatoriamente un elemento del `set`.

In [283]:
set1.pop()

'piña'

In [286]:
set1.pop()

'jocote'

In [290]:
set1

{'apple', 'banana', 'melocoton', 'naranja'}

In [289]:
set1.remove('cherry')

KeyError: 'cherry'

In [293]:
set1.clear()
set1

set()

In [294]:
del set1

In [295]:
set1

NameError: name 'set1' is not defined

### Unión de conjuntos `union( )`

In [297]:
set1 = {1,2,3,4,5}
set2 = {2,6,9,8}


set3 = set1.union(set2)

set3

{1, 2, 3, 4, 5, 6, 8, 9}

### COnvertir listas a conjuntos

In [304]:
listaSet = [1,2,3,4,1,1,2,3,4,5,6,5,'t','y','r','t','y','r']

setConvert = set(listaSet)

setConvert

{1, 2, 3, 4, 5, 6, 'r', 't', 'y'}

### interseccion de Conjuntos

In [307]:
set1 = {1,2,3,4,5}
set2 = {2,6,9,8}


set3 = set1.intersection(set2)

set3

{2}

### Diferencia Simetrica en conjuntos

In [309]:
set1 = {1,2,3,4,5}
set2 = {2,6,9,8}


set3 = set1.symmetric_difference(set2)

set3

{1, 3, 4, 5, 6, 8, 9}

### <span style="color:darkred">Diccionario en Python – Dictionary</span> 

Los diccionarios se utilizan para almacenar valores de datos en pares clave:valor. Un diccionario es una colección ordenada*, modificable y que no admite duplicados. 

Los diccionarios se escriben con llaves y tienen claves y valores:

In [310]:
thisdict = {
"brand": "Ford",
"model": 'Mustang',
"year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [311]:
emptydict = {}

### <span style="color:darkred">Características principales</span>

#### <span style="color:darkred">Elementos del diccionario:</span>

    Los elementos del diccionario están ordenados, se pueden modificar y no permiten duplicados. Los elementos del diccionario se presentan en pares clave:valor y se puede hacer referencia a ellos mediante el nombre de la clave.
    
#### <span style="color:darkred">¿Ordenado o Desordenado?:</span> 

    Cuando decimos que los diccionarios están ordenados, significa que los elementos tienen un orden definido y ese orden no cambiará. Desordenado significa que los elementos no tienen un orden definido, no puede hacer referencia a un elemento mediante el uso de un índice.

#### <span style="color:darkred">Cambiable:</span> 

    Los diccionarios se pueden cambiar, lo que significa que podemos cambiar, agregar o eliminar elementos después de que se haya creado el diccionario.

#### <span style="color:darkred">No se permiten duplicados</span> 

    los diccionarios no pueden tener dos elementos con la misma clave

### <span style="color:darkred">Diccionarios anidados</span> 

Un diccionario puede contener diccionarios, esto se llama diccionarios anidados, por ejemplo: 

Cree un diccionario que contenga tres diccionarios:

In [312]:
myfamily = {
    "childl" : {
    "name" : "Emil",
    "year": 2004
    },
    "child2" : {
    "name" : "Tobias",
    "year" : 2007
    },
    "child3" : {
    "name" : "Linus",
    "year" : 2011
    }
}

myfamily

{'childl': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [313]:
len(myfamily)

3

In [314]:
myfamily['childl']

{'name': 'Emil', 'year': 2004}

In [315]:
myfamily['child2']

{'name': 'Tobias', 'year': 2007}

In [316]:
myfamily['child3']

{'name': 'Linus', 'year': 2011}

In [317]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }

In [318]:
person['age']

250

In [319]:
person['City'] = 'Inventada'

In [320]:
person

{'first_name': 'Asabeneh',
 'last_name': 'Yetayeh',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'City': 'Inventada'}

In [324]:
person['skills'].append('no Inventada')

In [325]:
person

{'first_name': 'Asabeneh',
 'last_name': 'Yetayeh',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript',
  'React',
  'Node',
  'MongoDB',
  'Python',
  'no Inventada'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'City': 'Inventada'}

In [327]:
person['lista'] =['uno ', 'dos ', 'tres' ]
person

{'first_name': 'Asabeneh',
 'last_name': 'Yetayeh',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript',
  'React',
  'Node',
  'MongoDB',
  'Python',
  'no Inventada'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'City': 'Inventada',
 'lista': ['uno ', 'dos ', 'tres']}

In [329]:
person['lista'].append('cuatro')
person

{'first_name': 'Asabeneh',
 'last_name': 'Yetayeh',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript',
  'React',
  'Node',
  'MongoDB',
  'Python',
  'no Inventada'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'City': 'Inventada',
 'lista': ['uno ', 'dos ', 'tres', 'cuatro', 'cuatro']}

In [331]:
person['first_name'] = 'ROboto'
person

{'first_name': 'ROboto',
 'last_name': 'Yetayeh',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript',
  'React',
  'Node',
  'MongoDB',
  'Python',
  'no Inventada'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'City': 'Inventada',
 'lista': ['uno ', 'dos ', 'tres', 'cuatro', 'cuatro']}

In [333]:
'address' in person

True

In [334]:
person.pop('address')

{'street': 'Space street', 'zipcode': '02210'}

In [335]:
person

{'first_name': 'ROboto',
 'last_name': 'Yetayeh',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript',
  'React',
  'Node',
  'MongoDB',
  'Python',
  'no Inventada'],
 'City': 'Inventada',
 'lista': ['uno ', 'dos ', 'tres', 'cuatro', 'cuatro']}

In [336]:
person.popitem()

('lista', ['uno ', 'dos ', 'tres', 'cuatro', 'cuatro'])

In [337]:
person

{'first_name': 'ROboto',
 'last_name': 'Yetayeh',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript',
  'React',
  'Node',
  'MongoDB',
  'Python',
  'no Inventada'],
 'City': 'Inventada'}

In [339]:
del person
person

NameError: name 'person' is not defined


### <span style="color:darkred">Los constructores de las colecciones</span> 

Los **constructores** son métodos especiales que se ejecutan automáticamente cuando se crea una nueva instancia de una clase.


#### <span style="color:darkblue">Listas</span> 

También es posible usar el constructor `list()` al crear una nueva lista.

In [21]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

A diferencia de crear una lista normal acá podemos compartir una `tupla` que se caracteriza por tener los elementos dentro de paréntesis y es convertido a lista si esta cumple las características de esta. 

#### <span style="color:darkblue">Tuplas</span> 

También es posible usar el constructor tuple() para hacer una tupla.

In [22]:
thistuple = tuple (("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

#### <span style="color:darkblue">Conjuntos</span> 

También es posible usar el constructor `set()` para hacer un conjunto.

In [24]:
thisset = set(("apple",  "banana",  "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

#### <span style="color:darkblue">Diccionarios</span> 

También es posible usar el constructor `dict()` para hacer un diccionario.

In [26]:
thisdict = dict (name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}


#### <span style="color:darkred">Aplicando Conocimientos</span> 

1.	Utilizar una lista para añadir y eliminar elementos en un bucle repetitivo:

Este ejemplo crea una lista vacía y luego le pide al usuario que ingrese elementos uno por uno, añadiéndolos a la lista con el método `append()`.

Una vez que el usuario ingresa "fin", el bucle se detiene y la lista completa se imprime en pantalla.

Luego, se elimina el último elemento de la lista con el método `pop()`, y se imprime la lista actualizada.

2. Utilizar un diccionario como una base de datos

Este ejemplo utiliza un diccionario para almacenar datos de usuarios, donde cada usuario es una clave que apunta a otro diccionario que contiene los datos de ese usuario (en este caso, su edad y su ciudad).

El ejemplo agrega algunos usuarios a la base de datos y luego imprime la base de datos completa en pantalla.

Luego, modifica los datos de un usuario existente (en este caso, Juan cambia de tener 25 años a tener 27) y vuelve a imprimir la base de datos actualizada.

3. Utilizar un set para variables de sistema como ejemplo


#### <span style="color:darkred">Permitir duplicados</span>


#### <span style="color:darkred">Permitir duplicados</span>


#### <span style="color:darkred">Permitir duplicados</span>